# Zkopíruj tento soubor jako .env a vyplň hodnoty z Firebase Console
# Viz README.md – sekce "Firebase nastavení"

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# ID tvého Google Spreadsheetu (z URL: .../spreadsheets/d/TOTO_JE_ID/...)
VITE_SHEET_ID=1y98bzsIRpVv0_cGNfbITapucO5A6izeEz5lTM92ZbIA
